[Unit]
Description=Wallpaper (swaybg)
PartOf=graphical-session.target
After=graphical-session.target

[Service]
ExecStart=/usr/bin/swaybg -m fill -i %h/Pictures/wallpapers/calvin_falling.jpeg
Restart=on-failure

[Install]
WantedBy=graphical-session.target
